@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Ensure that the html and body elements have default background and text colors
  that can be overridden by the 'dark' class.
  Tailwind's 'dark:' variant works by looking for a 'dark' class on the html element.
  The styles in App.tsx will then apply based on this.
*/
html {
  @apply bg-white text-gray-900;
}

html.dark {
  @apply bg-gray-900 text-gray-100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
